{
	"presets": ["@babel/preset-env"],
    "plugins": ["syntax-async-generators", "transform-async-generator-functions", "transform-regenerator", "transform-class-properties"],
    "env": {
        "development": {
          "plugins": ["transform-class-properties"]
        }
    }
}